<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextUtiles</title>
</head>
<body>
<h1>Welcome to the text analyser. Enter your text below</h1>
<form action='/analyze' method='get'>
    <textarea name='text' style='margin: 0px; width: 729px; height: 339px;'></textarea><br>
    <input type="checkbox" name="removepunch"> Remove Punctuations<br>
    <input type="checkbox" name="fullcaps"> UPPERCASE <br>
    <input type="checkbox" name="fulllower"> lowercase <br>
    <input type="checkbox" name="newlineremover"> newlineremover <br>
    <input type="checkbox" name="extraspaceremover"> extraspaceremover <br>
    <input type="checkbox" name="charcounter"> charcounter <br>
    <button type='submit'> Analyze Text</button>

</form>>
</body>
</html>